{% extends 'migrations/base.html' %}
{% block title %}Add a New DS3{% endblock %}
{% block plans_active %}active{% endblock %}

{% block body %}
<div class="container-fluid">

    <div class="row">

        <!-- Left Album Info -->
        <div class="col-sm-4 col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                        
                    <h1>{{ plan.plan_number }} <small>{{ plan.plan_type }}</small></h1>
                    
                </div>
            </div>
        </div>

        <!-- Right Circuit Info -->
        <div class="col-sm-8 col-md-9">

            <ul class="nav nav-pills" style="margin-bottom: 10px;">
                <li role="presentation"><a href="{% url 'migrations:detail' plan.id %}">View All</a></li>
                <li role="presentation" class="active"><a href="{% url 'migrations:create_circuit' plan.id %}">Add New Circuit</a></li>
            </ul>

            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>Add a New Circuit</h3>
                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}
                    <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="hidden" name="plan" value="{{ plan }}">
                        {% include 'migrations/form_template.html' %}
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-success">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>

    </div>

</div>

{% endblock %}

